
.hero-container {
height: 106.2rem;
display: flex;
padding: 47.2rem 0 30rem 11.9rem;
align-items: flex-end;
justify-content: flex-start;
background-color: #212529;
border: 8px solid var(--gold);
background-image: url('abm-hero.png');
background-repeat: no-repeat;
background-size: cover;
}

.book {
// flex-direction: column;
display: flex;
font-family: 'Playfair Display';
font-weight: 600;
font-size: 23px;
position:relative;
left:20%;
right:20%;
bottom:5%;
top:60%;
}

.headline {
display: flex;
flex-direction: column;
gap: 0.33em;
}

h1 {
font-weight: 700;
font-size: 9.9rem;
color: var(--white);
}

.subtitle {
font-weight: 400;
font-size: 3.3rem;
color: var(--white);
}