.contact-form {
  background-color: var(--bg-light);
  width: 118rem;
  padding: 7.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

label {
  color: var(--white);
  font-size: 1.9rem;
}

input,
textarea {
  background-color: var(--bg-color);
  border: none;
  font-size: 1.9rem;
  color: var(--white);
}

input {
  height: 4.8rem;
  padding: 0 1rem;
}

textarea {
  padding: 5px 1rem;
}

.submit-btn {
  background-color: var(--white);
  color: #1c1e22;
  font-family: "Playfair Display", serif;
  font-size: 2.3rem;
  font-weight: 600;
  padding: 1.6rem 4rem;
  width: 26.5rem;
  border: none;
  transition: var(--transition);
}

.submit-btn:hover,
.submit-btn:active {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.name-textbox,
.email-textbox,
.phone-textbox,
.message-textbox {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.name-textbox,
.email-textbox {
  margin-bottom: 5.6rem;
}

form {
  display: flex;
  gap: 10.4rem;
  margin-top: 8rem;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-side,
.right-side {
  width: 46.5rem;
}

.contact-form h4,
.contact-form h2 {
  margin: 0;
}

.form-title {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* Media Queries */

@media only screen and (max-width: 499px) {
  .contact-form {
    width: 105rem;
  }

  form {
    flex-direction: column;
    gap: 5.6rem;
  }

  .left-side,
  .right-side {
    width: 90.5rem;
  }

  .submit-btn {
    margin-top: 6.6rem;
  }
}
