.gallery-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2.4rem;
  margin-top: 10.4rem;

  img {
    width: 28rem;
    height: 25rem;
    object-fit: cover;
    border-width: 2px;
    border-style: solid;
  }

  :nth-child(3) {
    grid-area: 1 / 3 / 3 / 4;
    height: 52.5rem !important;
  }

  :nth-child(5) {
    grid-area: 2 / 1 / 3 / 3;
    width: 58.5rem !important;
  }

  :nth-child(11) {
    grid-area: 4 / 1 / 6 / 2;
    height: 52.5rem !important;
  }

  :nth-child(16) {
    grid-area: 5 / 3 / 6 / 5;
    width: 58.5rem !important;
  }
}

@media only screen and (max-width: 299px) {
  .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 60rem;
      height: 45rem;
    }
  }
}

@media only screen and (min-width: 300px) and (max-width: 499px) {
  .gallery-container {
    grid-template-columns: 1fr 1fr;

    img {
      height: 33rem;
      width: 34rem;
    }

    :nth-child(3) {
      height: 68rem !important;
      grid-area: 4 / 1 / 6 / 2;
    }

    :nth-child(5) {
      width: 70rem !important;
    }

    :nth-child(11) {
      height: 68rem !important;
    }

    :nth-child(16) {
      width: 70rem !important;
      grid-area: 9 / 1 / 10 / 3;
    }
  }
}

@media only screen and (max-width: 499px) {
  .makeup-container,
  .sfx-container {
    .gallery-container {
      grid-template-rows: repeat(7, 1fr);
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 699px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .makeup-container,
  .sfx-container {
    .gallery-container {
      grid-template-rows: repeat(6, 1fr);

      img {
        height: 32rem;
        width: 38rem;

        .safari_only {
          height: 14rem;
          width: 15rem;
        }
      }

      :nth-child(3) {
        height: 67rem !important;
        grid-area: 4 / 1 / 6 / 2;
      }

      :nth-child(5) {
        width: 79rem !important;
      }

      :nth-child(11) {
        height: 67rem !important;
      }

      :nth-child(16) {
        width: 79rem !important;
        grid-area: 5 / 2 / 6 / 4;
      }
    }
  }
}

@media only screen and (min-width: 700px) and (max-width: 1299px) {
  .gallery-container {
    img {
      height: 23rem;
      width: 26rem;
    }

    :nth-child(3) {
      height: 49rem !important;
    }

    :nth-child(5) {
      width: 55rem !important;
    }

    :nth-child(11) {
      height: 49rem !important;
    }

    :nth-child(16) {
      width: 55rem !important;
    }
  }
}
