@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;300&family=Playfair+Display&display=swap');

* {
  border: gold 1px solid;
}

.testimonials-section {
  height: 100vh;
  padding: 50px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  // position: relative;


  .titleBlurb {
    font-family: 'Playfair Display';
    width: 876px;
    text-align: center;
    color: #FFFCF2;
    font-style: normal;
    // padding-bottom: 50px;
    height: 30px;
    // width: 45%;
    // top: 10%;

    p {
      font-weight: 700;
      font-size: 28px;
      line-height: 55px;
      text-transform: uppercase;
      color: #686C7E;
    }

    h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
    }

    h3 {
      font-weight: 400;
      font-size: 33px;
      line-height: 50px;
    }
  }
  .arrow {
    height: 50px;
    position: absolute;

    &.left {
      left: 100px;
      cursor: pointer;
    }

    &.right {
      right: 100px;
      cursor: pointer;
    }
  }
  .slider {
    // height: 450px;
    // width: 876px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    .testimonialContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFCF2;
      // padding: 100px;
      width: 100vw;

      .testimonial {
        // width: 800px;
        height: 100%;
        // border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
          // height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          // flex: 6;
          // flex-direction: column;
// NOT NECESSARY ? 
          .leftContainer {
            // width: 90%;
            // height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 20px;
          }

          h1 {
            font-size: 50px;
          }
        }

        .right {
          // flex: 3;
          // height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 20px;

          img {
            // width: 475px;
            // height: 300px;
            // border-radius: 5px;

          }
        }
      }
    }

    // .border {
    //   display: flex;
    //   // border: 5px solid blue;

    // }

    // .testimonialsCopy {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;

    //   h1 {
    //     font-weight: 700;
    //     font-size: 40px;
    //     padding-bottom: 50px;
    //   }

    //   p {
    //     font-size: 28px;
    //   }
    // }

    // .sliderContainer {
    //   display: flex;

    // }
  }

}