.testimonials-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: relative;
  flex-direction: column;
  height: 150vh;
  width: 100vw;

  .heading {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // position: absolute;
    // top: 10%;
    width: 70%;
    text-align: center;
    height: 500px;
  }
  // .border-breaker {
  //   width: 70.2rem;
  //   height: 1.6rem;
  //   background-color: var(--bg-color);
  //   position: absolute;
  //   top: 286rem;
  //   left: 60rem;
  //   z-index: 5;
  // }
  .slider {
    padding: 40rem 0;
    height: 450px;
    display: flex;
    position: absolute;
    left: 0;
    margin-top: 25px;
    // transition: all 1s ease-out;

    .testimonial-container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-top: 35.8rem;

      .testimonial {
        display: grid;
        grid-template-columns: 0.55fr 0.45fr;
        gap: 8.8rem;
        color: var(--white);
        width: 90vw;
        height: 85rem;
        border: 8px solid var(--bg-lightest);
        border-right: none;
        border-top: none;
        position: relative;
        max-width: 1440px;
        padding-top: 50px;

        .border {
          position: absolute;
          background: var(--bg-lightest);
          left: 0;
          top: 0;
          width: 55%;
          height: 8px;
        }

        .text-side {
          flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          // justify-content: space-between;
          flex-direction: column;
          gap: 12rem;
          width: 66.5rem;
          position: relative;

          .quote {
            width: 90%;
            height: 80%;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            padding-left: 20px;
            // gap: 8.8em;

            .testimonial-author {
              font-size: 4rem;
              font-weight: 700;
            }
            .underline {
              height: 0;
              border-top: 4px solid var(--white);
              margin-top: 2.4rem;
              margin-bottom: 6.4rem;
            }
            .testimonial-text {
              font-size: 2rem;
              line-height: 150%;
              text-align: left;
              z-index: 1;
              // display: -webkit-box;
              // -webkit-line-clamp: 12;
              // -webkit-box-orient: vertical;
              // overflow: hidden;
              // text-overflow: ellipsis;
            }
            // .left-par,
            // .right-par {
            //   font-family: "Catamaran", sans-serif;
            //   color: var(--white);
            //   font-size: 6.9rem;
            //   // font-weight: bold;
            //   position: absolute;
            // }

            // .left-par {
            //   top: 2.3rem;
            //   left: 1rem;
            //   transform: rotate(180deg);
            // }

            // .right-par {
            //   top: 6.1rem;
            //   left: 9.5rem;
            // }
          }
          .slide-controls {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 0.4rem;
            position: absolute;
            bottom: 0;
            left: 0;
            // padding-left: 30px;
            // padding-bottom: 20px;
            padding: 20px;
            width: 20vw;

            .slidenumber {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 0.8rem;
              margin-top: -1.2rem;

              .current-pg,
              .total-pgs {
                font-size: 3.3rem;
              }
            }
            svg {
              width: 5.6em;
              height: 5.6em;
            }
            .next-arrow {
              fill: var(--white);
            }

            .prev-arrow {
              fill: var(--bg-lightest);
            }
          }
        }
      }

      .img-side {
        // flex: 7;
        height: 90%;
        width: 76%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        right: 0;

        img {
          display: block;
          height: 100%;
        }
      }
    }
  }
}

/* Media Queries */

@media (max-width: 399px) {
  .testimonials-section {
    .slider {
      .testimonial-container {
        .testimonial {
          .text-side {
            width: 98%;
            padding-left: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .testimonials-section {
    .slider {
      .testimonial-container {
        .testimonial {
          .text-side {
            width: 90%;
            padding-left: 56px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .testimonials-section {
    .slider {
      .testimonial-container {
        .testimonial {
          border: none;
          display: block;
          max-width: unset;
          width: 100vw;

          .border {
            display: none;
          }
          .text-side {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 40px;
            .quote {
              width: 100%;
              .testimonial-text {
                width: 90%;
                font-size: 2.3rem;
                line-height: 16px;
              }
            }
            .slide-controls {
              position: unset;
              width: 70%;
              display: flex;
              justify-content: flex-start;
            }
          }
        }

        .img-side {
          display: none;
          img {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .testimonials-section {
    height: 90vh;
  }
}

@media (max-width: 1200px) {
  .testimonials-section {
    height: 100vh;
  }
}

// @media (max-width: 650px) {
//   .slide-controls {
//     width: 50%;
//   }
// }

@media (max-width: 1200px) {
  .text-side {
    width: 59rem;
  }
}

@media (max-width: 500px) {
  .text-side {
    width: 100rem;
  }
}

@media (max-width: 1000px) {
  // margin-top: 200px;
  // margin-bottom: 200px;
}
@media (max-width: 800px) {
  .testimonial {
    height: 500px;
  }
}

@media (max-width: 500px) {
  .border {
    display: none;
  }
}
