header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem 0 4rem;
  width: 100vw;
  position: relative;
}

/* Media Queries */

@media only screen and (max-width: 999px) {
  #standard {
    display: none;
  }

  .menu-icon,
  #responsive,
  .responsive-container {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  #standard {
    display: block;
  }

  #responsive,
  .responsive-container,
  .menu-icon {
    display: none;
  }
}

@media only screen and (max-width: 1049px) {
  header {
    padding: 0 6rem 0 2rem;
  }
}
