.sfxPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sfx-container {
  padding-top: 24.7rem;

  img {
    border-color: var(--red);
  }

  img:nth-child(3) {
    object-position: -13.5rem center;
  }

  img:nth-child(5) {
    object-position: center -21rem;
  }

  img:nth-child(16) {
    object-position: center -12rem;
  }
}
