.requestContainer {
  background-color: grey;
  width: 90vw;
  max-height: 689px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 130px;
  padding: 73px;

  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 55px;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    padding-bottom: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 480px;
    flex-wrap: wrap;

    label {
      font-size: 19px;
    }

    input {
      height: 56px;
      width: 469px;
      margin-top: 20px;
      margin-bottom: 45px;
      margin-right: 100px;
      background-color: darkgrey;
    }
  }
}
