.about-section {
  border: 8px solid var(--gold);
  // height: 131.6rem;
  background-color: #3a3c46;
  padding: 27rem 10.4rem 4rem;
  margin-top: 42rem;
}

.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

// About me img

.about-pic {
  display: flex;
  flex-direction: column;
  width: 59rem;
  height: 80rem;
  align-items: flex-start;
  margin-bottom: 15%;
  object-fit: cover;
}

// Textbox

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateY(-2rem);
}

.bio {
  width: 70rem;
  height: 67.8rem;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 205%;
  z-index: 1;
  color: var(--white);
  margin-left: -1rem;
}

// Signature
.signature {
  width: 50%;
  margin: 2rem 0 0 -10rem;
  transform: rotate(-10deg);
}

/* Media Queries */

@media (max-width: 999px) {
  .about-section {
    margin-top: 25rem;
  }
}
@media (max-width: 600px) {
  .about-section {
    // margin-top: 5rem;
  }
}
