.makeup-container {
  padding: 24.7rem 13rem 0;

  img:nth-child(8) {
    object-position: center top;
  }

  img:nth-child(15) {
    object-position: center -3rem;
  }

  img:nth-child(16) {
    object-position: center -2rem;
  }
}

.makeup-container img {
  border-color: var(--white);
}
