.makeupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.makeup-container {
  padding-top: 24.7rem;

  img {
    border-color: var(--white);
  }

  img:nth-child(8) {
    object-position: center top;
  }

  img:nth-child(15) {
    object-position: center -3rem;
  }

  img:nth-child(16) {
    object-position: center -2rem;
  }

  @media only screen and (max-width: 499px) {
    .gallery-container {
      :nth-child(16) {
        object-position: center;
      }
    }
  }
}
