@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

:root {
  --white: #fffcf2;
  --gold: #b6984f;
  --cyan: #3bc9db;
  --red: #970c0c;
  --bg-color: #212529;
  --bg-light: #3a3c46;
  --bg-lightest: #686c7e;
  --desktop-margin: 13rem;
  --transition: all 150ms ease-in-out;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  box-shadow: 0 0 0 0.3rem rgba(182, 152, 79, 0.4);
  outline: none;
}

body {
  background-color: var(--bg-color);
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: none;
  overflow-x: hidden;
  // overflow-y: hidden;
  // overflow-y:scroll;
}
