.artPage {
  padding: 10.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .art-container {
    padding: 0 10.4rem;
  }

  h4:not(.contact-form .section-title) {
    margin-top: 20.8rem;
  }

  h3 {
    margin-bottom: 10.4rem;
  }

  .art-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    margin-bottom: 24.7rem;

    img {
      border: 2px solid var(--cyan);
      width: 55rem;
      height: 60rem;
    }
  }
}

/* Media Queries */

@media only screen and (max-width: 449px) {
  .artPage {
    .art-gallery {
      grid-template-columns: 160px 160px;
      img {
        height: 180px;
        width: 160px;
      }
    }
  }
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
  .artPage {
    .art-gallery {
      grid-template-columns: 180px 180px;
      img {
        height: 200px;
        width: 180px;
      }
    }
  }
}
