// .header {
//   position: unset;
// }

.art-container {
  padding: 20.8rem 13rem 0;
}

.art-container h4:not(.contact-form .section-title) {
  color: var(--bg-lightest);
  font-size: 2.8rem;
  line-height: 5.5rem;
  margin: 20.8rem 0 3.2rem 0;
  text-transform: uppercase;
}

.art-container .headline {
  font-size: 4.8rem;
  line-height: 6rem;
  margin-bottom: 1.6rem;
}

.art-container h3 {
  font-size: 3.3rem;
  margin-bottom: 10.4rem;
  text-transform: none;
  font-weight: 400;
}

.art-container h4,
.art-container .headline {
  font-weight: 700;
}

.art-container .headline,
.art-container h3 {
  color: var(--white);
}

.art-container h4,
.art-container h3,
.art-container .headline {
  text-align: left;
}

.art-container .art-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  margin-bottom: 24.7rem;
}

.art-container .art-pic {
  border: 2px solid var(--cyan);
  width: 55em;
  height: 60em;
}
