#root {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.book-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20.8rem 19rem;

  header {
    position: relative;
  }

  .page-heading-container {
    align-self: flex-start;
    margin-bottom: 4rem;
  }

  .calendar {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 722px) {
      padding: 0;
      margin: 0;
    }
  }
}
